body{

    background-color: #e6e6e6;

    h1, h2{
        text-align: center;
    }

    .lista{
        // display: none;
            table{
                /* background-color: green; */
            }
    }

    .pedido{

        ul{
            list-style: none;
        }
        .batatas{
            
    
            .batata{
                margin: 0 auto;
                width: 50%;
                outline: 1px solid #e6e6e6;
                position: relative;
                padding: 20px;
                margin-bottom: 34px;

                h3{
                    margin-top: 0px;
                }

                .icone-success{
                    position: absolute;
                    font-size: 40px;
                    color: rgb(48, 184, 48);
                    right: -11px;
                    top: -17px;
                }

                .preco{
                    position: absolute;
                    right: -28px;
                    top: 37px;
                    background-color: yellow;
                    padding: 6px;
                    outline: solid 1px;
                }


                .ingredientes{
                    list-style: square;
                }
            }
        }
    }
}