body{

    background-color: #f1f3f6;

    .etapas{
        margin-bottom: 20px;
        
        .row .container{
            text-align: center;
        }
    }

    h1, h2{
        text-align: center;
    }

    .lista{
        // display: none;
            table{
                /* background-color: green; */
            }
    }

    .pedido{

        .batata-wrapper{
            background-color: white;
            margin: 0 auto;
            border: 1px solid #e6e6e6;
            position: relative;
            padding: 20px;
            margin-bottom: 34px;
            border-radius: 3px;

            h3{
                margin-top: 0px;
                font-size: 20px;;
            }

            .contador-wrapper{
                text-align: center;
                
                .contador{
                    width: 30px;
                }
            }

            .icone-success{
                position: absolute;
                font-size: 40px;
                color: rgb(48, 184, 48);
                right: -11px;
                top: -17px;
            }

            .preco{
                padding: 6px;
                font-weight: bold;
            }


            .ingredientes{
                list-style: square;
                padding-left: 0;
            }
        }

        ul{
            list-style: none;
        }

        .batatas{
            
    

        }
    }
}